html{overflow:auto; /*关闭IE6的右侧*/}
body{
    margin:0px;
    overflow:hidden;
    font: 12px/1.4 Helvetica,arial,sans-serif;
    height:100%;
}
img{border:none;}
.hidden{display:none;}
a{outline:none;}
ul{list-style:none;margin:0;padding:0;}
dd,dt{margin:0;}
div,p{margin:0;}



.hr{border-top:solid 1px #fff;border-bottom:solid 1px #ddd;height:100%;}

#root{height:100%;}
.flex-box{height:100%;display:flex;flex-direction:column;}
.a-header,.a-main{display:flex;flex-flow: row nowrap;}
.a-header{height:34px;line-height:34px;background:#326690;color:#FFF;}
.a-header .logo{padding:0 1em;}
.a-header .nav{flex:2;font-size:125%;line-height:38px;}
.a-header .user{padding-right:1em;}
.a-header .nav li{display:inline;padding:0 1em;cursor: pointer;}

.a-main{background:#FBFBFB;height:100%;}
.a-sub-nav{background:#EFEFEF;border:solid 2px #FFF;}
.a-frames{flex:1;}


/* menu */
.a-sub-nav{background:#E4EAF0;overflow-y:auto;}
.a-sub-nav .nav-group{margin:15px 8px;line-height: 32px;border-left: none;background: #FFF;}
.a-sub-nav .panel{padding-bottom:15px;}
.a-sub-nav ul{padding:0px;list-style:none;}
.a-sub-nav .nav-group-title{line-height:40px;font-weight:bold;padding-left:20px;color:#4981aa;}
.a-sub-nav .nav-group-title span{padding-left:18px;display:inline-block;}
.a-sub-nav ul li{padding-left:0px;margin-bottom:0;}
.a-sub-nav ul li:last-child{margin-bottom:0;}
.a-sub-nav ul li.current{background:#FEF2B5;color: #c87b07;font-weight: bold;}
.a-sub-nav ul li .fn{padding-left:50px;}



.a-ie7{height:0px;overflow:hidden;clear:both;display:none;}

.page-nav li:first-child{border-left:none;}
.page-nav li:last-child{border-right:none;}
.page-nav li.current .icon,.page-nav li.current div.title{color:#000;}
.page-nav .current div.title{background:#FEE049;}
.page-nav li .icon{color:#555;font-size:14px;margin-right:8px;}



.xhr-container{font-size:1.2em}
.xhr-container .gate{z-index:1;position: fixed;top:0;right:0;background:#FFF;filter:alpha(opacity=1);opacity: 0.1;}
.xhr-container .msg{position:fixed;left:0;right: 0;top:0;background:#ffd700;color:#FFB;border-top:0;border-radius: 0 0 5px 5px;
    z-index:100;text-align:center;padding: 2px 10px;line-height: 20px;margin: 0 auto;}
.xhr-container .error{ color: #ff0000;}





/*** tab ***/
.t2-pa-tabs {height:27px;border-bottom:solid 1px #D5D5D5;margin-left: 0;}
.page-tabs ul{list-style:none;padding:0;margin:0;}
.page-tabs li{float:left;position:relative;line-height:26px;margin-right:1px;border:solid 1px #cacaca;
    background:#FFF;color:#666;font-weight:bold;list-style:none;}
.page-tabs li.current{background:#FBFBFB;color:#506b78;border-bottom:solid 1px #FBFBFB;}
.page-tabs li span.link{cursor:pointer;}
.page-tabs li .tab-close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;
    text-indent:-99em;
}
.page-tabs li .tab-title{display:block;float:left;padding:0 20px 0 15px;line-height:26px; vertical-align:central;cursor:default;}
.page-tabs li span.rgt{/*background-position:-234px -130px; display: block;height: 26px;*/width: 5px;float:left;}
/*.page-tabs li.current span.rgt{background-position:-234px -156px;}*/

/* frame (ie6,7下loading宽度不正常，解决办法设固定宽度) */
.page-frames{background:#fff;position:absolute;top:30px;right:0;bottom:0;left:0;}
.page-frames iframe{width:100%;height:100%;}
.page-frames .mask{position:absolute;left:1px;top:0;background:#f5f5f5;opacity:0.7;filter:alpha(opacity=70);z-index:898;}
.loading{z-index:899;border:solid 1.5px #FA0;background:#FEA;}
.loading .lft{}
.loading .main{padding:0 3em;display:block;color:#666;line-height:24px;text-align:center;}
.loading .text{text-shadow:0 1px 0 #FFF;font-weight:bold;}

.page-frames .frames{height:100%;}
.page-frames .frames div.frame {visibility:hidden; clear: both;}
.page-frames .frames div.current {visibility:visible; }

/* ++++++++++++++++ UI ++++++++++++++++++ */
.ui-tree *{vertical-align: middle;}
.ui-tree .title{font-size:1.1em;color:#0066cc;}
.ui-tree div.node{line-height:17px;font-weight:bold;height:17px;overflow:hidden;}
.ui-tree div.node img{border: 0px;vertical-align: middle;}
.ui-tree div.node a{text-decoration:none;color:#006699;}
.ui-tree div.node a:hover{text-decoration:underline;color:#000;}

/* ui-dialog 对话框 */
.ui-dialog div{margin-bottom:0;}
.ui-dialog .dialog-mask{background:#d0d0d0;opacity:0.7;filter:alpha(opacity=70);}
.ui-dialog .box {
    border: solid 0 #fff;
    background: #FFF;/*firefox*/ -webkit-box-shadow:0 0px 5px 1px #CCC; /*webkit*/
    box-shadow:0 0px 5px 1px #CCC; /*opera或ie9*/
    zoom: 1; filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=10, OffY=2, Color=#bbb); /* ie6,ie7,ie8 */
}
.ui-dialog .title{padding-top:10px;font-size:14px;font-weight:bold;color:#726F6F;padding:0 10px;line-height:35px;
    background:#fff;
    border-bottom:solid 1px #EEF2F6;}
.ui-dialog .box .title .txt{padding-left:25px;}
.ui-dialog .box .close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;
    text-indent:-99em;height:35px;
}
.ui-dialog .box .content{margin:0;background:#fff;border:solid 0px #d0d0d0}
.ui-dialog .box .bottom{display:none;}
.ui-dialog .ui-alert-message{padding:1em 1.5em;color:#666;font-size:14px;min-width:240px;}
.ui-dialog .ui-alert-control{background:#F8F8F8;text-align:right;padding:5px;border-top:solid 1px #e3e3e3;margin-bottom:0;border-radius: 0;}
.ui-dialog .ui-alert-control input{border:solid 1px #FFF;background:#1b91e7;color:#FFF;
    border-radius:3px;display: inline-block;vertical-align:middle;padding:2px 10px;margin-left:8px;
    height:100%;}


/* tipbox */
.ui-tipbox { border: solid 3px #ff3300;background: #ffffcc; z-index: 3000; }
.ui-tipbox .ui-tipbox-container{padding:8px 35px 5px 38px;font-size:14px;font-weight:bold;color:#000;}


/* mod-loading */
.mod-loading-mask,.mod-loading-bar{position:fixed;top:0;bottom:0;left:0;right:0;margin:auto;}
.mod-loading-mask{background:#FFF;z-index:100;opacity:0.1;filter:alpha(opacity=10);}
.mod-loading-bar{width:212px;height:150px;z-index:101;opacity:1;filter:alpha(opacity=100);bottom:30px}
.mod-loading-bar .mod-loading-bar-icon{height:28px;}



